<div class="parent-color">
    <div class="form-section">
        <div class="form-box-main">
            <form class="contact-form" action="/contact" method="POST">
                <input name="email" class="custom-input-dark" type="email" placeholder="Email" required>
                <input name="name" class="custom-input-dark" type="text" placeholder="Name" required>
                <input name="subject" class="custom-input-dark" type="text" placeholder="Subject" required>
                <input name="message" class="custom-input-dark" type="text" placeholder="Message" required>
                <textarea name="query" class="custom-text-area-dark" name="" id="" cols="30" rows="5"
                    placeholder="Write your queries here" required></textarea>
                <button class="custom-contact-join-btn" type="submit">SUBMIT</button>
            </form>
        </div>
    </div>
</div>